<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="/">
            <div class="navbar-logo">M</div>
            <span class="brand-text">ManikarnikaStudios</span>
        </a>
        <div class="search-container">
            <form class="d-flex">
                <div class="search-box">
                    <i class="fas fa-search search-icon"></i>
                    <input type="search" class="form-control" placeholder="Search artists, services, or skills..." aria-label="Search">
                </div>
            </form>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/browse">Browse Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sign-up-btn" href="/signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>